Source: aptosid-keyring
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9.20120115)
Build-Depends-Indep: gnupg
Standards-Version: 3.9.6
Vcs-git: git://github.com/fullstory/aptosid-keyring.git
Vcs-Browser: https://github.com/fullstory/aptosid-keyring

Package: aptosid-archive-keyring
Architecture: all
Depends: ${misc:Depends},
 apt (>= 0.7.25.1),
 debian-archive-keyring,
 gpgv
Recommends: gnupg
Description: GnuPG archive keys of the aptosid archive
 The archive project digitally signs its release files. This package contains
 the archive keys used for that and can be used to support signature 
 verification ("apt-secure") for:
  - Release signature verification for aptosid (Release.gpg)
  - Packages, Sources md5sum verification against Release
