Source: sidux-keyring
Section: misc
Priority: standard
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-keyring/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-keyring/trunk/

Package: sidux-keyrings
Architecture: all
Depends: ${misc:Depends},
         gnupg (>= 1.0.6-4),
         debian-archive-keyring,
         sidux-archive-keyring
Description: metapackage to grab all useful GnuPG keys for sidux
 This metapackage is intended to install all appropriate GnuPG keys for a 
 sidux installation.

Package: sidux-keyring
Architecture: all
Depends: ${misc:Depends}
Recommends: gnupg (>= 1.0.6-4),
            debian-archive-keyring,
            sidux-archive-keyring
Description: GnuPG keys of sidux Developers
 The sidux project wants developers to digitally sign the announcements 
 of their packages with GnuPG, to protect against forgeries. This package 
 contains keyrings of GnuPG keys of developers.

Package: sidux-archive-keyring
Architecture: all
Depends: ${misc:Depends}
Recommends: gnupg (>= 1.0.6-4),
            debian-archive-keyring,
            sidux-keyring
Description: GnuPG archive keys of the sidux archive
 The sidux project digitally signs its release files. This package
 contains the archive keys used for that.
