Source: aptosid-keyring
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7.9.3)
Build-Depends-Indep: gnupg
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-keyring/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-keyring/trunk/

Package: aptosid-archive-keyring
Architecture: all
Depends: ${misc:Depends},
 apt (>= 0.6.0),
 debian-archive-keyring,
 gnupg (>= 1.0.6-4)
Description: GnuPG archive keys of the aptosid archive
 The archive project digitally signs its release files. This package contains
 the archive keys used for that and can be used to support signature 
 verification ("apt-secure") for:
  - Release signature verification for aptosid (Release.gpg)
  - Packages, Sources md5sum verification against Release
